*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*navigation header*/
nav{
    height: 80px;
    width: 100%;
    background: rgb(0, 85, 85);
}

label.nav-title{
    font-size: 35px;
    font-weight:bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

.checkbtn{
    line-height: 80px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}


/*about me section*/
.about{
    background: darkcyan;
    width: 100%;
    padding: 100px 0px;
}

.about img{
    height: 400px;
    width: 360px;
}

.about-text{
    width: 550px;
}

.about h2{
    font-size: 52px;
    margin-bottom: 12px;
    color: white
}

.about h5{
    font-size: 19px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 20px;
}

.about p{
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 23px;
    color: rgb(10, 31, 25);
}

.about-inner{
    width: 1230px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*education section*/
.education{
    background: floralwhite;
    width: 100%;
    padding: 70px 0;
    text-align: center;
    margin: auto;
}

.education h2{
    font-size: 52px;
    margin-bottom: 12px;
    color: rgb(3, 112, 112)
}

.education h4{
        font-size: 18px;
        color: rgb(17, 63, 50)
}

.education p{
    font-size: 17px;
    padding: 10px;
    line-height: 23px;
    letter-spacing: 0.5px;
}

.edu-box{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    padding: 0 8%;
}

.edu-sch{
    flex-basis: 28%;
    background: rgb(245, 235, 219);
    border-radius: 10px;
    padding: 60px 12px;
    box-sizing: border-box;
}

/*skills*/
.skills{
    background: #b1ddd2;
    width: 100%;
    padding: 70px 0;
    text-align: center;
}

.skills h2{
    font-size: 52px;
    margin-bottom: 12px;
    color: rgb(81, 122, 122)
}

.skills h4{
    font-size: 20px;
    color: rgb(17, 63, 50)
}

.skills ul{
    font-size: 18px;
    padding: 15px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

.skill-box{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    padding: 0 8%;
}

.skill-section{
    flex-basis: 28%;
    background: #96beb5;;
    border-radius: 10px;
    padding: 50px 12px;
    box-sizing: border-box;
}

footer{
    background: rgb(0, 85, 85);
    padding: 3%;
    text-align: center;
    color: white;
}

/*responsive*/
@media (max-width: 1048px){
    label.nav-title{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    .about-text{
        width: 400px;
    }
}

@media (max-width: 888px){
    nav{
        position: fixed;
    }
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(38, 61, 61);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: darkturquoise;
    }
    nav ul.show{
        left: 0;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .about-inner{
        flex-direction: column;
    }
    .about img{
        height: 270px;
        width: 243px;
        margin-bottom: 30px;
    }
    .about-text{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about h2{
        font-size: 40px;
    }
    .about h5{
        font-size: 16px;
    }
    .about p{
        font-size: 15px;
        padding: 0 15px;
        line-height: 28px;
        text-align: center;
    }

    .edu-box{
        flex-direction: column;
        margin-top: 10%;
    }
    .edu-sch{
        margin-bottom: 10%;
    }
    .education h2{
        font-size: 40px;
    }
    .education p{
        line-height: 27px;
    }

    .skill-box{
        flex-direction: column;
        margin-top: 10%;
    }
    .skill-section{
        margin-bottom: 10%;
    }
    .skills h2{
        font-size: 40px;
    }
}