*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color:#3B6064 ;
    color: white;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}