*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*navigation header*/
nav{
    height: 80px;
    width: 100%;
    background: darkcyan;
}

label.nav-title{
    font-size: 35px;
    font-weight:bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

.checkbtn{
    line-height: 80px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}


/*about me section*/
.about{
    background: darkcyan;
    width: 100%;
    padding: 100px 0px;
}

.about img{
    height: 400px;
    width: 360px;
}

.about-text{
    width: 550px;
}

.about h2{
    font-size: 52px;
    margin-bottom: 12px;
    color: white
}

.about h5{
    font-size: 19px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 20px;
}

.about p{
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 23px;
    color: rgb(10, 31, 25);
}

.about-inner{
    width: 1230px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media (max-width: 1048px){
    label.nav-title{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    .about-text{
        width: 400px;
    }
}

@media (max-width: 888px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: 100%;
        background: darkslategray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: darkturquoise;
    }
    nav ul.show{
        left: 0;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .about-inner{
        flex-direction: column;
    }
    .about img{
        height: 270px;
        width: 243px;
        margin-bottom: 30px;
    }
    .about-text{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about h2{
        font-size: 40px;
    }
    .about h5{
        font-size: 16px;
    }
    .about p{
        font-size: 15px;
        padding: 0 15px;
        line-height: 28px;
        text-align: center;
    }
}